In [16]:
import pandas as pd

In [17]:
d = {'col1': [1, 2, 1, 1, 2, 2, 2, 1, 1, 0]}
df = pd.DataFrame(data=d)
df.head()

   col1
0     1
1     2
2     1
3     1
4     2

In [18]:
df['col1'].value_counts()

1    5
2    4
0    1
Name: col1, dtype: int64

In [19]:
def convert(row):
    if row == 1:
        return 'yes'
    elif row == 2:
        return 'no'
    else:
        return None
    
df_1 = df['col1'].apply(convert)
df_1

0     yes
1      no
2     yes
3     yes
4      no
5      no
6      no
7     yes
8     yes
9    None
Name: col1, dtype: object