Link to intro to dataset processing:

<https://nbviewer.jupyter.org/github/jennselby/MachineLearningCourseNotes/blob/master/assets/ipynb/IntroductiontoDatasetProcessing.ipyn>

In [7]:
# imports

import sklearn
import pandas
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing

In [8]:
# import data into dataframe

df = pandas.read_csv('./happiness-report-data/2019.csv') # , sep=';'
df.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [9]:
# make a list with the regions and ranks and then remove that column from the df to standardize the data
# If I was actually creating models and using this data, I wouldn't standardize it, this is just to practice

# I also couldn't figure out a way to run through the rows for "Country or region" and replace those with sequential numbers, so I ended up using a for loop...
# And yes I realize that both the "Overall rank" and indecies have the sequential numbering I want, but I still want to figure out how to do that

regions = []
ranks = []

for index, row in df.iterrows():
    regions.append(row["Country or region"])
    ranks.append(row["Overall rank"])
    
df = df.drop("Country or region", axis=1)
df = df.drop("Overall rank", axis=1)
df.head()


# i = -1
# def convert_sequential(row):
#     regions.append(row)
#     i += 1
#     return i
    
# converted_df = df['Country or region'].apply(convert_sequential)
# print(type(converted_df))
# print(converted_df)
# print(regions)

# enc_mjob = preprocessing.LabelEncoder()
# encoded_mjob = enc_mjob.fit_transform(df['Country or region'])
# print(encoded_mjob)

,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [11]:
# standardize the data even though we don't need to (just to practice)
# also add back in the "Country or region" and "Overall rank" columns

scaler = StandardScaler()
df_s = pandas.DataFrame(data=scaler.fit_transform(df), columns=df.columns)
df_s.insert(0, "Overall rank", ranks) # insert column where it was before (not just adding it to the end)
df_s.insert(1, "Country or region", regions) # insert column where it was before (not just adding it to the end)
df_s.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,2.128711,1.095042,1.268098,1.080422,1.424282,-0.335404,2.996757
1,2,Denmark,1.976397,1.203324,1.221154,1.121857,1.396277,0.707265,3.177158
2,3,Norway,1.934938,1.467734,1.251332,1.254446,1.473292,0.907373,2.444941
3,4,Iceland,1.880862,1.195769,1.392163,1.246159,1.389276,1.781530,0.078500
4,5,Netherlands,1.875454,1.236060,1.050146,1.134287,1.151229,1.444506,1.988632